.container {
}

.keyword {
  left: 20rem;
  outline: none;
  border-radius: 0.8rem;
  margin-left: 20%;
  margin-right: 10%;
}

.image-checkbox {
  margin-left: 10px;
  margin-right: 10%;
}

.retweet-checkbox {
  margin-left: 10px;
}
